PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE groups(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT,
  institutionId INTEGER
          );
INSERT INTO "groups" VALUES(1,'els┼Ĺs├Âk',27160);
INSERT INTO "groups" VALUES(2,'masodikosok',27160);
INSERT INTO "groups" VALUES(3,'harmadikosok',27160);
CREATE TABLE IF NOT EXISTS children (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL, 
  dateOfBirth DATE NOT NULL, 
  parentName TEXT NOT NULL, 
  parentPhone INTEGER NOT NULL, 
  address TEXT NOT NULL, 
  institutionId INTEGER NOT NULL, 
  color INTEGER, 
  groupId INTEGER, 
  bandNumber INTEGER, 
  illness TEXT
);
INSERT INTO children VALUES(1,'Minta J├│zsi','1997.12.23','Minta Mih├íly',36204003889,'3516 Miskolc Minta ut1',27160,NULL,1,NULL,NULL);
INSERT INTO children VALUES(2,'Minta Julcsi','2000.01.01','Minta Mih├íly',36204003889,'3516 Miskolc Minta ut1',27160,NULL,1,NULL,NULL);
INSERT INTO children VALUES(3,'Minta Karcsi','1998.01.02','Minta Mih├íly',36204003889,'3516 Miskolc Minta ut1',27160,NULL,NULL,NULL,NULL);

CREATE TABLE users (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  username TEXT NOT NULL, 
  password TEXT NOT NULL, 
  name TEXT NOT NULL, 
  email TEXT UNIQUE NOT NULL, 
  role TEXT NOT NULL, 
  institutionId INTEGER, 
  color INTEGER, 
  bandNumber INTEGER, 
  address TEXT
);
INSERT INTO users VALUES(2,'test','$2a$10$il3I8dq.pLfh6BdCG8vRtu/C1tceQcmJfF5kZiFXTQmddstpxDtfC','T├│th Gerg┼Ĺ','test@test.com','Kisero',27160,NULL,NULL,'3535 Miskolc Hegyalja 12');
INSERT INTO users VALUES(3,'camp','$2a$10$mD83Rd4BVNaQJMEiuY9TEuQbXBBVnB6U3gHEobuXBPBtqVeKofhZS','taborozo 1 ','camp@camp.com','Taboroztato','',NULL,NULL,'3535 Miskolc Hegyalja 43');
INSERT INTO users VALUES(4,'test2','$2a$10$la9Im1gmrQZdWydYzmpJ7ed58wJUKP3kMokEoDxPZUHiOatoF73YC','Teszt Tan├ír2','test2@test.com','Kisero',27160,NULL,NULL,'3535 Miskolc Hegyalja 14');

CREATE TABLE IF NOT EXISTS teachersInGroups (
  userId INTEGER NOT NULL,
  groupId INTEGER NOT NULL,
  PRIMARY KEY (userId, groupId),
  FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE,
  FOREIGN KEY (groupId) REFERENCES groups(id) ON DELETE CASCADE
);
INSERT INTO teachersInGroups VALUES(2,1);
INSERT INTO teachersInGroups VALUES(2,1);
INSERT INTO teachersInGroups VALUES(2,2);
CREATE TABLE institutions(
          name text,
          om text Primary Key Not null,
          address text);
INSERT INTO institutions VALUES('V├írosk├Âzponti ├ôvoda','026991','7624 P├ęcs, Budai Nagy Antal utca 5.  (hrsz.: ''3220/16.'')');
INSERT INTO institutions VALUES('Nyugati V├írosr├ęszi ├ôvoda','026993','7623 P├ęcs, Mez┼Ĺsz├ęl utca 2.  (hrsz.: ''1/11'')');
INSERT INTO institutions VALUES('Kertv├írosi ├ôvoda','027000','7632 P├ęcs, Testv├ęrv├írosok tere 1-3.  (hrsz.: '''')');
CREATE TABLE TimeTable (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  startDate DATE, 
  startTime TIME, 
  programId  INTEGER NOT NULL,  
  holderId INTEGER
  FOREIGN KEY (programId) REFERENCES program(id));
INSERT INTO TimeTable VALUES(1,'2025.06.09','14:00',3,0,2);
INSERT INTO TimeTable VALUES(2,'2025.06.10','14:00',2,0,1);
INSERT INTO TimeTable VALUES(3,'2025.06.09','14:00',1,0,3);
CREATE TABLE groupsInTimetable (timetableId INTEGER, groupId INTEGER);
INSERT INTO groupsInTimetable VALUES(9,3);
INSERT INTO groupsInTimetable VALUES(9,2);
INSERT INTO groupsInTimetable VALUES(5,1);
CREATE TABLE program (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT NOT NULL, description TEXT NOT NULL, childLimit INTEGER);
INSERT INTO program VALUES(1,'Lego Anim├íci├│s m┼▒hely','Lego stopmotion k├ęsz├şt├ęs',12);
INSERT INTO program VALUES(2,'csapat├ęp├şt┼Ĺ','csoport ├Âsszhang n├Âvel├ęse',20);
INSERT INTO program VALUES(3,'├ërz├ękeny├şt┼Ĺ','Lorem ipsum',15);
INSERT INTO sqlite_sequence VALUES('groups',3);
INSERT INTO sqlite_sequence VALUES('children',20);
INSERT INTO sqlite_sequence VALUES('users',7);
COMMIT;
